body .calculator .clearfix {
  clear: both;
}

body {
  background-color: #0b2f69;
}

body .calculator {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 30px;
  background-color: #87b7f2;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

body .calculator .fields h1 {
  font-weight: 300;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

body .calculator .fields h2 {
  font-weight: 200;
  line-height: 35px;
  text-align: center;
}

body .calculator .fields label {
  font-size: 1.2em;
}

body .calculator .fields .unit {
  font-size: 1.1em;
}

body .calculator .result h2 {
  font-weight: 200;
}

/* 分配fields與result為左右區塊 */
body .calculator .fields {
  width: 50%;
  float: left;
}

body .calculator .result {
  width: 50%;
  float: left;
}

#resultNumber {
  font-family: 'Open Sans Condensed'; /* 字型 字型名稱沒空格的話可以不加引號*/
  text-align: center;
  font-weight: 100;
  font-size: 100px;
}

#resultTextNormal {
  font-family: 'Open Sans Condensed';
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

#resultTextNormal {
  font-family: 'Open Sans Condensed';
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

#resultTextAbnormal {
  font-family: 'Open Sans Condensed';
  color: rgb(186, 0, 0);
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

/* 所有數字類型輸入框（身高、體重 輸入框） */
body .calculator .fields input[type="number"] {
  font-family: 'Open Sans Condensed';
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 10px;
  border: 2px dashed gray; /* 寬度2px的虛線灰色邊框 */
}

/* 所有傳送類輸入框（「計算」按鈕） */
body .calculator .fields input[type="submit"] {
  background-color: #f8ffb0;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  font-size: 2em;
  font-weight: 200;
}

/* 體位標準表格 練習手刻表格樣式*/
body .calculator .bodyTable .bodyTableContent {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

body .calculator .bodyTable .bodyTableContent table {
  width:80%;
  border-collapse: collapse; /* 雙層框線變單層 */
  font-family: 'Open Sans Condensed';
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  border: #87b7f2 solid;
  /* border: transparent; */
  /* margin-right: auto;
  margin-left: auto; */
}

body .calculator .bodyTable .bodyTableContent table thead {
  background-color: #F09302;
  color: #fff;
}

body .calculator .bodyTable .bodyTableContent table tbody .rowOdd {
  background-color: #F3F3F3;
}

body .calculator .bodyTable .bodyTableContent table tbody .rowEven {
  background-color: #FCFCFD;
}

body .calculator .bodyTable .bodyTableContent table tfoot {
  background-color: #FFECCE;
}

body .calculator .bodyTable .dataResource {
  width:90%;
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
}
